---
export type Props = {
  side?: 'left' | 'right'
  refback?: boolean
}

const {side = 'right', refback = false} = Astro.props
---

<aside class:list={['sidenote', refback && 'refback']}>
  <div>
    {
      side === 'left' && (
        <div class="text-sm leading-relaxed">
          <slot />
        </div>
      )
    }
  </div>
  <div></div>
  <div>
    {
      side === 'right' && (
        <div class="text-sm leading-relaxed">
          <slot />
        </div>
      )
    }
  </div>
</aside>

<style>
  .sidenote blockquote {
    @apply border-l-0 pl-0 italic text-gray-11;
  }
  
  @media (min-width: 1280px) {
    .sidenote > div > div {
      @apply transition-opacity duration-300;
      opacity: 0.75;
    }
    
    .sidenote:hover > div > div {
      opacity: 1;
    }
  }
</style>
