---
import '../styles/prose.css'

import type {Props as MetaTagsProps} from '../components/MetaTags.astro'
import BaseLayout from './BaseLayout.astro'

export type Props = MetaTagsProps & {
  asideBorders?: boolean
}
const {asideBorders = false, ...meta} = Astro.props
---

<BaseLayout {...meta}>
  <slot name="head" slot="head" />
  <div class="w-full h-full max-w-full">
    <div class="layout flex flex-col xl:flex-row xl:gap-8">
      <aside>
        <div
          class:list={[
            'flex flex-col xl:min-h-svh xl:px-4 xl:sticky xl:top-8',
            asideBorders && 'xl:border-r border-gray-4 border-dashed',
          ]}
        >
          <slot name="aside-left" />
        </div>
      </aside>
      <main class="flex-shrink-0 max-w-2xl px-5 sm:px-6 my-12 sm:my-14 overflow-hidden relative">
        <section class="mb-8 relative">
          <slot name="title" />
        </section>
        
        <article class:list={['prose relative']}>
          <slot name="article" />
        </article>
        
        <section class="mt-16 relative">
          <slot name="footnotes" />
        </section>
      </main>
      <aside class="hidden xl:block max-w-[16rem]"></aside>
    </div>
  </div>
</BaseLayout>

<style>
  .layout {
    @apply relative w-full h-full mx-auto max-w-[90rem];
    & > * {
      @apply w-full h-full mx-auto;
    }
  }
  
  aside {
    @apply max-w-3xl xl:max-w-xs;
  }
</style>
